@import "tailwindcss";

@font-face {
    font-family: 'Thewave';
    src: url("./assets/ThewaveRegular-OVOe8.ttf");
}

body {
    font-family: 'Thewave';
}



@media (min-width: 768px) {
    .spline-clip {
        clip-path: polygon(30% 0%, 100% 0, 100% 30%, 100% 90%, 87% 90%, 87% 100%, 0 100%, 0 0);
    }
}

@media (max-width: 700px) {
    .spline-clip {
     clip-path: polygon(50% 0%, 100% 0, 100% 86%, 0 86%, 0 100%, 0 100%, 0 0);
    }
}